.info{
	background-color: green;
	color: rgb(139, 5, 5);
	font-size: 40px;
}
#vue{
	width: 200px;
	height: 200px;
	background-size: 100%;
	background-image: url('../imgs/vue.png');
}
#react{
	width: 200px;
	height: 200px;
	background-size: 100%;
	background-image: url('../imgs/react.png');
}